{% extends 'base.html' %}

{% block title %}Food for Thought School Lunches Program{% endblock %}
{% block content %}

<h1>Home for School Lunches</h1>

<p>Here is some description of the program</p>
<h4>Choose your portal</h4>
<button><a href="/providers">I am a restaurant owner or caterer (provider of school lunches)</a></button>
<button><a href="/schools"></a>I am a school</a></button>
<button><a href="/parents"></a>I am a parent</a></button>
<button><a href="/browsing"></a>I am just looking around</a></button>


{% endblock %}