{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('schools_bp.static',filename='schools_css.css')}}">{% endblock %}
{% block title %}School Edit Info{% endblock %}
{% block content %}
<h1>Edit School Information</h1>

<form action="{{url_for('schools_bp.save_info')}}" id="schoolEditForm" method="POST" autocomplete="off"
    autocomplete="chrome-off">
    {{ form.hidden_tag() }}

    <p>
        {{form.name.label}}: {{form.name}} <span class="error" id="nameError"></span>
    </p>
    <p><span>Please select from autocomplete. This will ensure our search feature will work. </span><br>
        {{form.address.label}}:
    <div class="typedAddress">{{form.address}}
        <div class="autoAddress pointer">
        </div>
    </div>
    </p>
    <p>
        {{form.city_id.label}}: {{form.city_id}}
    </p>
    <p>
        {{form.province_id.label}}: {{form.province_id}}
    </p>
    <p>
        {{form.contact_name.label}}: {{form.contact_name}}
    </p>
    <p>
        {{form.principal_name.label}}: {{form.principal_name}}
    </p>
    <p>
        {{form.phone.label}}: {{form.phone}}
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" />
    </p>

    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <ul>

        {% for field,error in form.errors.items() %}

        <li>{{field}},{{error}}</li>
        {% endfor%}
    </ul>


    <button id="submit">Save</button>
</form>


{% endblock %}
{% block scripts%}
<script src="{{url_for('schools_bp.static',filename='edit_info_js.js')}}"></script>{% endblock%}