{% extends 'base.html' %}

{% block title %}Set password{% endblock %}
{% block content %}
<h1>Set password</h1>
<form id="setPassword" method="POST">
    <input type="hidden" name="email" value="{{email}}" />
    {{ form.hidden_tag() }}
    {% for field in form
    if field.widget.input_type !='hidden' %}
    <p>
        {{field.label}}
        {{field(class_="form-control")}}
        {% for error in field.errors %}
        {{error}}
        {% endfor%}
    </p>
    {% endfor %}
    <button>Set Password</button>
</form>

<p>Automatically log them in</p>
<p>must be 8 characters, no other constraints</p>

{% endblock %}