{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('auth_bp.static',filename='auth_css.css')}}">{% endblock %}
{% block title %}Signup{% endblock %}
{% block content %}
<h1>Signup Form</h1>
<p>Signup parents (maybe?), or school, or providers</p>
<p>add radio to show who they want to signup for (tell them the requirements ahead of time, like if you are signing
    up as a provider,
    you will be asked to send a proof of inspection, if you signup as a school, the principal of the school will be
    contacted to confirm
    participation. OR should they start signing up and THEN in the email confirmation we tell them this info? I think we
    should
    send them the email first (if they already started the process it's easier to continue than for them to not start
    yet and already shoot them down)
</p>
<p>(if implementing)if parents signup they it will bring them to dashboard (just search and the restaurants they liked)
</p>
<form id="signupForm" method="POST">
    {{ form.hidden_tag() }}
    <p>
        {{form.email.label(class_="red")}}
        {{form.email}} <span id="emailError" class="error">{{form.email.errors.error}}</span>
    </p>
    <p>
        {{form.user_type.label}}
    <div id="selection">
        {% for subfield in form.user_type %}
        <tr>
            <td>{{ subfield}}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
    </div>
    </p>
    <div id="dispSchoolName">
        <p>
            {{form.establishment_name.label}}
            {{form.establishment_name}} <span class="error"
                id="establishmentNameError">{{form.establishment_name.errors.error}}</span>
        </p>

    </div>
    <div>
        {% for field in form_pass
        if field.widget.input_type !='hidden' %}
        <p>
            {{field.label}}
            {{field(class_="form-control")}}
            {% for error in field.errors %}
            {{error}}
            {% endfor%}
        </p>
        {% endfor %}
    </div>

    <button id="submit">Signup</button>
</form>
<script src="{{url_for('auth_bp.static',filename='auth_js.js')}}"></script>
{% endblock %}