{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Add Menu{% endblock %}
{% block content %}
<h1>Add Menu Information</h1>

<h3>Add dish</h3>
<form id="dishAddForm" method="POST" action="{{url_for('providers_bp.add_dish')}}" enctype="multipart/form-data">
    {% include "add_edit_dish_partial.html" %}
    <button id="submit">Save</button>
</form>
{% endblock %}
{% block scripts%}
<script src="{{url_for('providers_bp.static',filename='nutrition.js')}}"></script>
<script src="{{url_for('providers_bp.static',filename='validation.js')}}"></script>
<script src="{{url_for('providers_bp.static',filename='providers.js')}}"></script>{% endblock%}