{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Edit Info{% endblock %}
{% block content %}
<h1>Edit Provider Information</h1>

<form id="providerEditForm" method="POST" autocomplete="off" autocomplete="chrome-off">
    {{ form.hidden_tag() }}
    {{form.geocode_lat}}
    {{form.geocode_long}}

    <p>
        {{form.name.label}}: {{form.name}} <span class="error" id="nameError"></span>
    </p>
    <p><span>Please select from autocomplete. This will ensure our search feature will work. </span><br>
        {{form.address.label}}:
    <div class="typedAddress">{{form.address}}
        <div class="autoAddress">
        </div>
    </div>
    </p>
    <p>
        {{form.city_id.label}}: {{form.city_id}}
    </p>
    <p>
        {{form.province_id.label}}: {{form.province_id(disabled_="disabled")}}
    </p>
    <p>
        {{form.contact_name.label}}: {{form.contact_name}}
    </p>
    <p>
        {{form.phone.label}}: {{form.phone}}
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" />
    </p>
    <p>
        {{form.sales_pitch.label}}: {{form.sales_pitch}}
    </p>
    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <ul>
        {%for field in form%}
        {% for error in field.error %}

        <li>{{ error }}</li>
        {%endfor%}
    </ul>
    {% endfor %}

    <button id="submit">Save</button>
</form>


{% endblock %}
{% block scripts%}
<script src="{{url_for('providers_bp.static',filename='providers_js.js')}}"></script>{% endblock%}