{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider's home{% endblock %}
{% block content %}
<h1>Provider Dashboard</h1>
<section class="info">
    <h3>company info</h3>
    <ul>
        <li>
            Name: <a href="{{url_for('providers_bp.info_details')}}">{{p.name}}</a>
        </li>
        <li>
            Address: {{p.address}}
        </li>
        <li>
            City: {{city}}
        </li>
        <li>
            Province: {{province}}
        </li>
        <li>
            Contact Name: {{p.contact_name}}
        </li>
        <li>
            Phone: {{p.phone}}
        </li>
        <li>
            Email: {{email}}
        </li>
        <li>
            Sales pitch: {{p.sales_pitch}}
        </li>
        <li>
            ADD RECURRING DATES, SPECIFIC DATES HERE??
        </li>
        <li>
            Active: {{p.active}}
        </li>
    </ul>
    <fieldset>
        <legend>
            Catering settings
        </legend>

        <ul>
            <li>
                Number of meals you can serve at one time for one organization: {%if p.max_meals_per_day
                %}{{p.max_meals_per_day}}{% endif %}
            </li>
            <li>
                Minimum number of meals you will serve at one time for one organization: {%if p.min_meals
                %}{{p.min_meals}}{% endif %}
            </li>
            <li>
                Number of organizations you can serve in one day: {%if p.serve_num_org_per_day
                %}{{p.serve_num_org_per_day}}{% endif %}
            </li>
        </ul>
    </fieldset>

    <button><a href="{{url_for('providers_bp.edit_info')}}">Edit</a></button>
</section>
<section class="menu">
    <p>Saved menus</p>
    {%if m%}


    {%for dish in m %}
    <ul>
        <li>
            Name: <a href="{{url_for('providers_bp.view_dish',id=dish.id)}}">{{dish.name}}</a>
        </li>

        <li>
            Recipe: {%if dish.recipe %}{{dish.recipe}}{% endif %}
        </li>
        <li>
            Number of servings: {%if dish.num_servings %}{{dish.num_servings}}{% endif %}
        </li>
        <li>
            Recipe to display:{%if dish.ingred_disp %}{{dish.ingred_disp}}{% endif %}
        </li>
        <li>
            Price: {%if dish.price %}{{dish.price}}{% endif %}
        </li>
        <li>
            Sales pitch: {%if dish.sales_pitch %}{{dish.sales_pitch}}{% endif %}
        </li>
        <li>
            Max meals you can serve: {%if dish.max_meals %}{{dish.max_meals}}{% endif %}
        </li>
        <li>
            Related to: {%if dish.related_to_dish %}{{dish.related_to_dish}}{% endif %}
        </li>
        <li>
            Passed guidelines: {%if dish.pass_guidelines %}{{p.pass_guidelines}}{% endif %}
        </li>
        <li>
            <button><a href="{{url_for('providers_bp.edit_dish',id=dish.id)}}">Edit</a></button>
        </li>
    </ul>
    {% endfor %}
    <button {% if menuDisable=="true" %}disabled {%endif%}>
        <a {% if not menuDisable=="true" %} href="/providers/add_dish" {%endif%}>Add Dish</a></button>

    {%else%}
    <p>No menus yet! Please fill out profile in order to make your menu!</p>
    {%endif%}


</section>


{% endblock %}