{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Edit Menu{% endblock %}
{% block content %}
<h1>Edit Menu Information</h1>

<form id="menuEditForm" method="POST">
    {{ form.hidden_tag() }}







    Max meals you can serve: {%if dish.max_meals %}{{dish.max_meals}}{% endif %}
    </li>
    <li>
        Related to: {%if dish.related_to_dish %}{{dish.related_to_dish}}{% endif %}
    </li>
    <li>
        Passed guidelines: {%if dish.pass_guidelines %}{{p.pass_guidelines}}{% endif %}
    </li>
    <p>
        Name: {{dish.name}}
    </p>
    <p>
        Recipe: {%if dish.recipe %}{{dish.recipe}}{% endif %}

    </p>
    <p>
        Number of servings: {%if dish.num_servings %}{{dish.num_servings}}{% endif %}
    </p>
    <p>
        Recipe to display:{%if dish.ingred_disp %}{{dish.ingred_disp}}{% endif %}
    </p>
    <p>
        Price: {%if dish.price %}{{dish.price}}{% endif %}
    </p>
    <p>
    <p>
        {{form.sales_pitch.label}}: {{form.sales_pitch}}
    </p>
    <p>
        {{form_m.max_meals.label}}{%if form_m.max_meals %}{{dish.max_meals}}{% endif %}
    </p>
    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <ul>
        {%for field in form%}
        {% for error in field.error %}

        <li>{{ error }}</li>
        {%endfor%}
    </ul>
    {% endfor %}

    <button id="submit">Save</button>
</form>


{% endblock %}
{% block scripts%}
<script src="{{url_for('providers_bp.static',filename='providers_js.js')}}"></script>{% endblock%}