{% extends 'base.html' %}

{% block title %}Provider's home{% endblock %}
{% block content %}
<h1>Provider Dashboard</h1>
<section>
    <div class="info">
        <p>Just displaying saved info</p>
        <ul>
            <li>
                Name: {{p.name}}
            </li>
            <li>
                Address: {{p.address}}
            </li>
            <li>
                City: {{p.city_id}}
            </li>
            <li>
                Province: {{p.province_id}}
            </li>
            <li>
                Phone: {{p.phone}}
            </li>
            <li>
                Contact Name: {{p.contact_name}}
            </li>
            <li>
                Sales pitch: {{p.sales_pitch}}
            </li>
            <li>
                Active: {{p.active}}
            </li>
        </ul>

        </table>

    </div>
</section>
<p>allow them to their restaurant information, menu, etc. (should this page just be displaying data and not editing?
    Then a button to edit each component?)</p>

{% endblock %}