{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Edit Info{% endblock %}
{% block content %}
<h1>Edit Provider Information</h1>

<form action="{{url_for('providers_bp.save_info')}}" id="providerEditForm" method="POST" autocomplete="off"
    autocomplete="chrome-off" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{form.active.label}}: {{form.active(disabled=True)}}
    </p>
    <p>
        {{form.display.label}}: {{form.display}}
    </p>
    <p>
        *{{form.name.label}}: {{form.name}} <span class="error" id="nameError"></span>
    </p>
    <p>{{form.website.label}}: {{form.website}}

    </p>
    <p><span>Please select from autocomplete or manually input a latitude and longitude if you wish to use the max
            distance for delivery function.</span><br>
        {{form.address.label}}:
    <div class="typedAddress">{{form.address}}
        <div class="autoAddress pointer">
        </div>
    </div>
    </p>
    <p>
        {{form.geocode_lat.label}}: {{form.geocode_lat}}
    </p>
    <p>
        {{form.geocode_long.label}}: {{form.geocode_long}}
    </p>
    <p>
        {{form.city_id.label}}: {{form.city_id}}
    </p>
    <p>
        {{form.province_id.label}}: {{form.province_id}}
    </p>
    <p>
        {{form.contact_name.label}}: {{form.contact_name}}
    </p>
    <p>
        {{form.phone.label}}: {{form.phone}}
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" />
    </p>
    <p>
        {{form.sales_pitch.label}}: {{form.sales_pitch}}
    </p>
    <p>

        {% for c in form_c.cuisines %}
        {{c}}
        {{c.label}}
        {% endfor %}

    </p>
    <fieldset>
        <legend>
            Delivery settings settings
        </legend>
        <p>
            {{form.max_meals_per_day.label}} {{form.max_meals_per_day}}
        </p>
        <p>
            {{form.min_meals.label}} {{form.min_meals}}
        </p>
        <p>
            {{form.serve_num_org_per_day.label}} {{form.serve_num_org_per_day}}
        </p>
    </fieldset>



    <fieldset>
        <legend>Set recurring availability</legend>
        {% for d in form_days.days %}
        {{d}}
        {{d.label}}
        {% endfor %}
        <p>
            Start date: <input type="date" id="startDate">
            End date:<input type="date" id="endDate">
            <button id="addRecurringDate">Add Recurring Day</button>
            <span class="error" id="recurringDateError"></span>
        </p>
        <p>
        <h5>Selected recurring days</h5>
        <table>
            <tbody id="recurringDayTable" class="pointer">

                {%for day,id,start,end in pd%}
                <tr>
                    <td data-id="{{id}}:{{start.strftime('%Y-%m-%d')}}:{{end.strftime('%Y-%m-%d')}}">
                        Every {{day}} {%if start%} {{start}} - {{end}} {%
                        endif%}
                    </td>
                    <td
                        id="{{day}}{{start.strftime('%Y-%m-%d').replace('-','')}}{{end.strftime('%Y-%m-%d').replace('-','')}}">
                        X
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        </p>
    </fieldset>
    <fieldset>
        <legend>Set specific availability</legend>
        Dates available
        <input type="date" name="date" id="date">
        <button id="addDate">Add Date</button>
        <span class="error" id="dateError"></span>

        <h5>Selected dates</h5>
        <table>
            <tbody id="datesTable" class="pointer">

                {%for d in prov_dates%}
                <tr>
                    <td>
                        {{d.date}}
                    </td>
                    <td id="d{{d.date.strftime('%Y-%m-%d').replace('-','')}}">
                        X
                    </td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </fieldset>
    <p>
        *Upload your inspection report. It must be issued within 10 months of today's date<br>
        <input type="file" name="inspectionFile" id="inspectionFile"><span class=" error"
            id="inspectionFileError"></span>
    </p>
    {%if form.inspection_report.data %}
    <p>
        Submitted file: <img id="submittedFile" src="{{ form.inspection_report.data }}" alt="Inspection report">
        <br>
        <input type="submit" id='removeImage' name="removeImage" value="Delete Upload" />
    </p>
    {%endif%}
    <ul>
        {% for field,error in form.errors.items() %}

        <li>{{field}},{{error}}</li>
        {% endfor%}
    </ul>

    <input type="submit" id='save' name="save" value="Save" />
    <button id="reviewBtn">Submit for review</button>

    <p><button id="deleteAcct" class="modalTrigger">Delete Account - doesn't work</button></p>
    <div class="modal">
        <div class="modal-content">
            <span class="close-button">X</span>
            <p>You are about to delete your account. You will not be able to recover the information. If you want to
                tempoarily disable the account, please uncheck "active"</p>
        </div>
    </div>
</form>

<form action="{{url_for('providers_bp.delete_prov')}}" method="post">
    {{ form.hidden_tag() }}
    <button>Delete Profile Permanently</button>
</form>


{% endblock %}
{% block scripts%}
<script src="{{url_for('static',filename='autocomplete.js')}}"></script>
<script src="{{url_for('static',filename='recurring_dates.js')}}"></script>
<script src="{{url_for('providers_bp.static',filename='providers.js')}}"></script>
<script src="{{url_for('providers_bp.static',filename='validation.js')}}"></script>{% endblock%}