{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Edit Info{% endblock %}
{% block content %}
<h1>Edit Provider Information</h1>

<form id="providerEditForm" method="POST" autocomplete="off" autocomplete="chrome-off">
    {{ form.hidden_tag() }}

    <p>
        {{form.name.label}}: {{form.name}} <span class="error" id="nameError"></span>
    </p>
    <p><span>Please select from autocomplete. This will ensure our search feature will work. </span><br>
        {{form.address.label}}:
    <div class="typedAddress">{{form.address}}
        <div class="autoAddress pointer">
        </div>
    </div>
    </p>
    <p>
        {{form.city_id.label}}: {{form.city_id}}
    </p>
    <p>
        {{form.province_id.label}}: {{form.province_id}}
    </p>
    <p>
        {{form.contact_name.label}}: {{form.contact_name}}
    </p>
    <p>
        {{form.phone.label}}: {{form.phone}}
    </p>
    <p>
        <label for="email">Email</label>
        <input type="email" name="email" value="{{email}}" />
    </p>
    <p>
        {{form.sales_pitch.label}}: {{form.sales_pitch}}
    </p>
    <p>
        {%if pc%}
        {% set a=namespace(quit = False) %}
        {%else %}
        {%set a=namespace(quit=True)%}
        {%endif%}

        {% for for c in form_c.cuisines %}

        {% for id in pc if not a.quit %}
        {%if id.cuisine_id == c.data %}
        {{c(checked=True)}}
        {% set a.quit = True%}
        {%endif%}

        {%endfor%}

        {%if (not a.quit and pc) or (a.quit and not pc)%}
        {{c}}
        {%endif %}

        {%if pc%}
        {%set a.quit = False%}
        {%endif%}

        {{c.label}}
        {% endfor %}

    </p>
    <p>
        {{form.active.label}}: {{form.active}}
    </p>
    <ul>

        {% for field,error in form.errors.items() %}

        <li>{{field}},{{error}}</li>
        {% endfor%}
    </ul>


    <button id="submit">Save</button>
</form>


{% endblock %}
{% block scripts%}
<script src="{{url_for('providers_bp.static',filename='edit_info_js.js')}}"></script>{% endblock%}