{% extends 'base.html' %}
{% block header_area %}
<link rel="stylesheet" href="{{url_for('providers_bp.static',filename='providers_css.css')}}">{% endblock %}
{% block title %}Provider Edit Menu{% endblock %}
{% block content %}
<h1>Edit Menu Information</h1>
<h3>Settings</h3>
<form id="settingsEditForm" method="POST" action="{{url_for('providers_bp.save_settings')}}">
    {{ form_p.hidden_tag() }}

    <p>
        {{form_p.max_meals_per_day.label}} {{form_p.max_meals_per_day}}
    </p>
    <p>
        {{form_p.min_meals.label}} {{form_p.min_meals}}
    </p>
    <p>
        {{form_p.serve_num_org_per_day.label}} {{form_p.serve_num_org_per_day}}
    </p>

    <p>
        {%if pd%}
        {% set a=namespace(quit = False) %}
        {%else %}
        {%set a=namespace(quit=True)%}
        {%endif%}

        {% for d in form_days.days %}

        {% for id in pd if not a.quit %}
        {%if id.recurring_day_id == d.data %}
        {{d(checked=True)}}
        {% set a.quit = True%}
        {%endif%}

        {%endfor%}

        {%if (not a.quit and pd) or (a.quit and not pd)%}
        {{d}}
        {%endif %}

        {%if pd%}
        {%set a.quit = False%}
        {%endif%}

        {{d.label}}
        {% endfor %}
    </p>
    <p>
        Dates available
        <input type="date" name="date" id="date">
        <button id="addDate">Add Date</button>
        <span class="error" id="dateError"></span>
    </p>
    <p>
        Selected dates
    <table>
        <tbody id="datesTable" class="pointer">
            {%for d in prov_dates%}
            <tr>
                <td>
                    {{d.date}}
                </td>
                <td id="d{{d.date.strftime('%Y-%m-%d').replace('-','')}}">
                    X
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
    </p>
    <button id="submit">Save settings</button>
</form>
<h3>Add dish</h3>
<form id="menuEditForm" method="POST" action="{{url_for('providers_bp.save_dish')}}">
    {{ form_m.hidden_tag() }}

    <p>
        {{form_m.name.label}} {{form_m.name}}
    </p>
    <p>
        {{form_m.recipe.label}} {{form_m.recipe}}

    </p>
    <p>
        {{form_m.num_servings.label}} {{form_m.num_servings}}
    </p>
    <p>
        {{form_m.ingred_disp.label}} {{form_m.ingred_disp}}
    </p>
    <p>
        {{form_m.price.label}} {{form_m.price}}
    </p>

    <p>
        {{form_m.sales_pitch.label}}: {{form_m.sales_pitch}}
    </p>
    <p>
        {{form_m.max_meals.label}}{{form_m.max_meals}}
    </p>
    <p>
        {{form_m.related_to_dish.label}}: {{form_m.related_to_dish}}
    </p>
    <p>
        {{form_m.pass_guidelines.label}}: {{form_m.pass_guidelines}}
    </p>
    <p>
        {{form_m.active.label}}: {{form_m.active}}
    </p>
    <ul>
        {% for field in form_m %}
        {% for error in field.error %}

        <li>{{ error }}</li>
        {%endfor%}
    </ul>
    {% endfor %}

    <button id="submit">Save</button>
</form>

<h3>Saved dishes</h3>
<p>List in a table the dishes that were saved</p>
<table>
    <thead>
        <tr>
            <td>name</td>
            <td>price</td>
            <td>passed guidelines</td>
        </tr>
    </thead>
    <tbody>
        {%for d in m%}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.price}}</td>
            <td>{%if d.pass_guidelines %}true{%else%}false{%endif%}</td>

        </tr>
        {%endfor%}


    </tbody>

</table>
{% endblock %}
{% block scripts%}
<script src="{{url_for('providers_bp.static',filename='edit_menu_js.js')}}"></script>{% endblock%}