.info{
    background-color: antiquewhite;
}

.menu{
    background-color: beige;
}

.messages{
    background-color: azure;
}

.notes{
    background-color:aliceblue ;
}

.typedAddress{
    position: relative;
    width: 500px;
}

.autoAddress{
    position: absolute;
    background-color: red;
    width: auto;
    cursor:pointer;
}

.noPointer{
    cursor:default;
}

