.info{
    background-color: antiquewhite;
}

.menu{
    background-color: beige;
}

.messages{
    background-color: azure;
}

.notes{
    background-color:aliceblue ;
}

.typedAddress{
    position: relative;
    width: 500px;
}

.autoAddress{
    position: absolute;
    background-color: red;
    width: auto;
}

.pointer{
    cursor:pointer;
}

.noPointer{
    cursor:default;
}

section{
    margin-top:10px;
    margin-bottom:10px;
}

.nutContainer{
    width: 450px;
}
.bg-nut{
    background-color: antiquewhite;
    display: block;
    width: 100%;
    border-radius: 4px;
    padding: 0;
    border:0;
    position: relative;
}

.nut-data{
    background-color: blue;
    display: block;
}
.oneNut{
    list-style: none;
    width: 100%;
}

.label{
    display: block;
}